body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2047px;
  height:1464px;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:2047px;
  height:1464px;
}
#u13812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
