body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12278 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:163px;
  width:1155px;
  height:499px;
}
#u12279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12280 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:0px;
  width:153px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12281 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:279px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12282 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:0px;
  width:329px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12283 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:0px;
  width:351px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u12284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:43px;
  height:35px;
}
#u12284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u12285 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:34px;
  width:153px;
  height:35px;
}
#u12285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:35px;
}
#u12286 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:34px;
  width:279px;
  height:35px;
  text-align:left;
}
#u12286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:35px;
}
#u12287 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:34px;
  width:329px;
  height:35px;
  text-align:left;
}
#u12287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:35px;
}
#u12288 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:34px;
  width:351px;
  height:35px;
  text-align:left;
}
#u12288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u12289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:43px;
  height:29px;
}
#u12289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u12290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
}
#u12290 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:69px;
  width:153px;
  height:29px;
}
#u12290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u12291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
}
#u12291 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:69px;
  width:279px;
  height:29px;
  text-align:left;
}
#u12291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:275px;
  word-wrap:break-word;
}
#u12292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:29px;
}
#u12292 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:69px;
  width:329px;
  height:29px;
  text-align:left;
}
#u12292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u12293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:29px;
}
#u12293 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:69px;
  width:351px;
  height:29px;
  text-align:left;
}
#u12293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:347px;
  word-wrap:break-word;
}
#u12294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u12294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:43px;
  height:50px;
}
#u12294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:39px;
  word-wrap:break-word;
}
#u12295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u12295 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:98px;
  width:153px;
  height:50px;
}
#u12295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u12296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:50px;
}
#u12296 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:98px;
  width:279px;
  height:50px;
  text-align:left;
}
#u12296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u12297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
}
#u12297 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:98px;
  width:329px;
  height:50px;
  text-align:left;
}
#u12297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:50px;
}
#u12298 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:98px;
  width:351px;
  height:50px;
  text-align:left;
}
#u12298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:347px;
  word-wrap:break-word;
}
#u12299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:65px;
}
#u12299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:43px;
  height:65px;
}
#u12299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:39px;
  word-wrap:break-word;
}
#u12300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:65px;
}
#u12300 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:148px;
  width:153px;
  height:65px;
}
#u12300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:149px;
  word-wrap:break-word;
}
#u12301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:65px;
}
#u12301 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:148px;
  width:279px;
  height:65px;
  text-align:left;
}
#u12301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:275px;
  word-wrap:break-word;
}
#u12302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:65px;
}
#u12302 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:148px;
  width:329px;
  height:65px;
  text-align:left;
}
#u12302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:325px;
  word-wrap:break-word;
}
#u12303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:65px;
}
#u12303 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:148px;
  width:351px;
  height:65px;
  text-align:left;
}
#u12303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:43px;
  height:30px;
}
#u12304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12305 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:213px;
  width:153px;
  height:30px;
}
#u12305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12306 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:213px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12307 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:213px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12308 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:213px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:347px;
  word-wrap:break-word;
}
#u12309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:43px;
  height:30px;
}
#u12309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12310 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:243px;
  width:153px;
  height:30px;
}
#u12310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12311 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:243px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12312 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:243px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12313 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:243px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:43px;
  height:34px;
}
#u12314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12315 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:273px;
  width:153px;
  height:34px;
}
#u12315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12316 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:273px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12317 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:273px;
  width:329px;
  height:34px;
  text-align:left;
}
#u12317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12318 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:273px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  word-wrap:break-word;
}
#u12319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:43px;
  height:30px;
}
#u12319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12320 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:307px;
  width:153px;
  height:30px;
}
#u12320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12321 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:307px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12322 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:307px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12323 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:307px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:337px;
  width:43px;
  height:30px;
}
#u12324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12325 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:337px;
  width:153px;
  height:30px;
}
#u12325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12326 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:337px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12327 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:337px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12328 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:337px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:43px;
  height:34px;
}
#u12329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12330 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:367px;
  width:153px;
  height:34px;
}
#u12330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12331 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:367px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12332 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:367px;
  width:329px;
  height:34px;
  text-align:left;
}
#u12332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12333 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:367px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:401px;
  width:43px;
  height:30px;
}
#u12334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12335 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:401px;
  width:153px;
  height:30px;
}
#u12335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12336 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:401px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12337 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:401px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12338 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:401px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:43px;
  height:34px;
}
#u12339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12340 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:431px;
  width:153px;
  height:34px;
}
#u12340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12341 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:431px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u12342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12342 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:431px;
  width:329px;
  height:34px;
  color:#1E1E1E;
  text-align:left;
}
#u12342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12343 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:431px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:465px;
  width:43px;
  height:34px;
}
#u12344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12345 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:465px;
  width:153px;
  height:34px;
}
#u12345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12346 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:465px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12347 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:465px;
  width:329px;
  height:34px;
  color:#1E1E1E;
  text-align:left;
}
#u12347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12348 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:465px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12349 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:20px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
