body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:163px;
  width:1155px;
  height:495px;
}
#u12225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:0px;
  width:153px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:279px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:0px;
  width:329px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:0px;
  width:351px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:43px;
  height:35px;
}
#u12230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:34px;
  width:153px;
  height:35px;
}
#u12231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:35px;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:34px;
  width:279px;
  height:35px;
  text-align:left;
}
#u12232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:35px;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:34px;
  width:329px;
  height:35px;
  text-align:left;
}
#u12233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:35px;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:34px;
  width:351px;
  height:35px;
  text-align:left;
}
#u12234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:43px;
  height:29px;
}
#u12235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u12236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:69px;
  width:153px;
  height:29px;
}
#u12236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u12237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:69px;
  width:279px;
  height:29px;
  text-align:left;
}
#u12237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:275px;
  word-wrap:break-word;
}
#u12238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:29px;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:69px;
  width:329px;
  height:29px;
  text-align:left;
}
#u12238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u12239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:29px;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:69px;
  width:351px;
  height:29px;
  text-align:left;
}
#u12239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:347px;
  word-wrap:break-word;
}
#u12240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:43px;
  height:50px;
}
#u12240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:39px;
  word-wrap:break-word;
}
#u12241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u12241 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:98px;
  width:153px;
  height:50px;
}
#u12241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u12242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:50px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:98px;
  width:279px;
  height:50px;
  text-align:left;
}
#u12242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u12243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:98px;
  width:329px;
  height:50px;
  text-align:left;
}
#u12243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:50px;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:98px;
  width:351px;
  height:50px;
  text-align:left;
}
#u12244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:347px;
  word-wrap:break-word;
}
#u12245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:65px;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:43px;
  height:65px;
}
#u12245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:39px;
  word-wrap:break-word;
}
#u12246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:65px;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:148px;
  width:153px;
  height:65px;
}
#u12246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:149px;
  word-wrap:break-word;
}
#u12247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:65px;
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:148px;
  width:279px;
  height:65px;
  text-align:left;
}
#u12247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:275px;
  word-wrap:break-word;
}
#u12248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:65px;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:148px;
  width:329px;
  height:65px;
  text-align:left;
}
#u12248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:325px;
  word-wrap:break-word;
}
#u12249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:65px;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:148px;
  width:351px;
  height:65px;
  text-align:left;
}
#u12249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:43px;
  height:30px;
}
#u12250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:213px;
  width:153px;
  height:30px;
}
#u12251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:213px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:213px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:213px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:347px;
  word-wrap:break-word;
}
#u12255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:43px;
  height:30px;
}
#u12255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:243px;
  width:153px;
  height:30px;
}
#u12256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:243px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:243px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:243px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:43px;
  height:30px;
}
#u12260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:273px;
  width:153px;
  height:30px;
}
#u12261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:273px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:273px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:273px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:347px;
  word-wrap:break-word;
}
#u12265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:43px;
  height:30px;
}
#u12265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:303px;
  width:153px;
  height:30px;
}
#u12266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12267 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:303px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:303px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:303px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:43px;
  height:30px;
}
#u12270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12271 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:333px;
  width:153px;
  height:30px;
}
#u12271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12272 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:333px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12273 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:333px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12274 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:333px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:43px;
  height:34px;
}
#u12275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12276 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:363px;
  width:153px;
  height:34px;
}
#u12276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12277 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:363px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12278 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:363px;
  width:329px;
  height:34px;
  text-align:left;
}
#u12278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12279 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:363px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u12280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:397px;
  width:43px;
  height:30px;
}
#u12280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12281 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:397px;
  width:153px;
  height:30px;
}
#u12281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u12282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u12282 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:397px;
  width:279px;
  height:30px;
  text-align:left;
}
#u12282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u12283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u12283 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:397px;
  width:329px;
  height:30px;
  text-align:left;
}
#u12283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  word-wrap:break-word;
}
#u12284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u12284 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:397px;
  width:351px;
  height:30px;
  text-align:left;
}
#u12284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:43px;
  height:34px;
}
#u12285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12286 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:427px;
  width:153px;
  height:34px;
}
#u12286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12287 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:427px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u12288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12288 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:427px;
  width:329px;
  height:34px;
  color:#1E1E1E;
  text-align:left;
}
#u12288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12289 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:427px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u12290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:461px;
  width:43px;
  height:34px;
}
#u12290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u12291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u12291 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:461px;
  width:153px;
  height:34px;
}
#u12291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:34px;
}
#u12292 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:461px;
  width:279px;
  height:34px;
  text-align:left;
}
#u12292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u12293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:34px;
}
#u12293 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:461px;
  width:329px;
  height:34px;
  color:#1E1E1E;
  text-align:left;
}
#u12293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u12294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u12294 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:461px;
  width:351px;
  height:34px;
  text-align:left;
}
#u12294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:347px;
  word-wrap:break-word;
}
#u12295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12295 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:20px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
