body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2790px;
  height:1056px;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:2790px;
  height:1056px;
}
#u13814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
